*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}
body {
  background-color:white;
  margin: 50px;
  font-size: 15px;
}
main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  padding: 10px;
}
.first-content {
  background-color: hsl(31, 77%, 52%);
  padding: 20px;
  height: 60vh;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}
.first-content h2{
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}
.second-content {
  background-color: hsl(184, 100%, 22%);
  padding: 10px;
  height: 60vh;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}
.second-content h2{
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}
.third-content {
  background-color: hsl(179, 100%, 13%);
  padding:10px;
  height: 60vh;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}
.third-content h2{
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}
.button {
  border-radius: 15px 
}
@media(min-width:375px) {
   {
    display: flex;
    width: 100%;
    height: auto;
  } 
}
@media(max-width:1440px) {
   {
    display: flex;
    width: 100%;
    height: auto;
  }
}